.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.children {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: -5px 5px 15px 10px rgba(0, 0, 0, 0.1);
    /* background-color: aqua; */
}

.logo {
    width: 25%;
    padding: 5em;
    height: 100%;
}

.dyshezText {
    color: #E3026F;
    font-weight: bold;
}

.fragmentContainer {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.childrenContainer {
    width: 45%;
    height: 100%;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.1);
    /* z-index: 10000; */
}

.childrenContainerFull {
    width: 100%;
    height: 100%;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.1);
    /* z-index: 10000; */
}

.login_layout {
    background-image: url('/background_login.png');
    height: 100%;
    width: 55%;
    background-repeat: no-repeat;
    background-size: cover;
}

.login_inactive {
    display: none;
}

.buttonsContainer {
    width: 100%;
    padding-top: 5px;
    height: 10%;
    display: flex;
    justify-content: space-around;
    /* background-color: #E3026F; */
}

.buttonStyleActive {
    color: #000000;
    font-weight: bolder;
    font-size: 1.2em;
    border-bottom: solid #000 3px;
}

.buttonStyleInactive {
    color: #B2B2B2;
    font-weight: bolder;
    font-size: 1.2em;
    border-bottom: none;
} 